<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="movies" type="Anairam.Test.MoviesConfigurationSection, Anairam.Test"/>
    <section name="classicMovies" type="Anairam.Test.MoviesConfigurationSection, Anairam.Test"/>
    <section name="environmentDetector" type="Anairam.Environment.DetectorConfigurationSection, Anairam"/>
    <section name="environmentDetector1" type="Anairam.Environment.DetectorConfigurationSection, Anairam"/>
    <section name="environmentDetector2" type="Anairam.Environment.DetectorConfigurationSection, Anairam"/>
    <section name="environmentDetector3" type="Anairam.Environment.DetectorConfigurationSection, Anairam"/>
    <section name="database" type="Anairam.Test.DatabaseConfigurationSection, Anairam.Test"/>
    <section name="databaseEx" type="Anairam.Test.DatabaseConfigurationSection, Anairam.Test"/>
  </configSections>

  <databaseEx file="database.config" />

  <database>
    <development>
      <adapter>mysql</adapter>
      <server>localhost</server>
      <database>boycott</database>
      <user>root</user>
      <password>root</password>
    </development>
    <test>
      <adapter>mysql</adapter>
      <server>testhost</server>
      <database>boycott_test</database>
      <user>root</user>
      <password></password>
    </test>
    <production>
      <adapter>mysql</adapter>
      <server>local.prod.com</server>
      <database>boycott_prod</database>
      <user>root</user>
      <password>123</password>
    </production>
  </database>

  <movies category="Action" mediaType="BluRay" />
  <classicMovies file="classicMovies.config" />
  <environmentDetector default="development" />
  <environmentDetector1 default="dev" />
  <environmentDetector2 default="test">
    <environment name="development">
      <!--<osversion value="Windows 7" />-->
      <machineName value="note-anairam" />
      <processorCount value="2" />
    </environment>
    <environment name="test">
      <!--<osversion value="Windows Server 2008 R2" />-->
      <machineName value="v-anairam-test" />
      <processorCount value="8" />
      <userName value="I_USR_ANAIRAM" />
    </environment>
    <environment name="production">
      <!--<osversion value="Windows Server 2008 R2" />-->
      <processorCount value="16" />
      <userName value="I_USR_ANAIRAM" />
    </environment>
  </environmentDetector2>
  <environmentDetector3 default="local">
    <environment name="development">
      <processorCount value="2" />
    </environment>
    <environment name="test">
      <processorCount value="2" />
    </environment>
    <environment name="production">
      <processorCount value="2" />
    </environment>
  </environmentDetector3>
</configuration>
